@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#FEFEFE] tracking-wide25 font-sans text-sm text-slate-500 font-light lowercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
  border-radius: 0 !important;
}

input.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 1px;
  background-color: #7a92a7;
  margin: 0;
  padding: 0;
  position: relative;
}

input.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2px;
  height: 20px;
  background-color: #7a92a7;
  border: none;
  margin-top: -9.5px;
  cursor: pointer;
}

input.slider::-moz-range-thumb {
  width: 2px;
  height: 20px;
  background-color: #7a92a7;
  border: none;
  cursor: pointer;
}

svg {
  background-color: #fefefe;
  transform-origin: 50% 50%;
}

svg path {
  fill: #e9f5fb;
  transition:
    fill 0.3s ease,
    filter 0.3s ease;
}

svg path:hover {
  fill: #b6e5f9;
  filter: drop-shadow(0 0 6px #b6e5f9);
  cursor: pointer;
}
